.campo {
	margin-bottom: 1em;
}

.campo input:FOCUS, .campo select:FOCUS {
	background: #f8f8f8;
}

.table {
	width: 800px;
	text-align: center;
}

fieldset {
	width: 800px;
	margin: 0 auto;
}

fieldset.group .campo {
	float: left;
	margin-right: 2em;
}

.master {
	width: 960px;
	margin: 0 auto;
}

.header {
	text-align: center;
	font-family: monospace;
}

a:link {
	text-decoration: none;
}

.post-texto {
	font-family: sans-serif;
	font-size: 12pt;
	text-align: justify;
	line-height: 1.5em;
	color: gray;
}

.post-categoria {
	margin-bottom: 40px;
	font-family: monospace;
}

.post-categoria a:link {
	background: #f2f2f2;
	display: inline-block;
	line-height: 16px;
	color: #999;
	padding: 3px 7px;
	margin: 0 5px 2px 0;
}

.post-categoria a:hover {
	background: #f0f0f0;
	display: inline-block;
	line-height: 16px;
	color: #999;
	padding: 3px 7px;
	margin: 0 5px 2px 0;
}

.post-autor {
	border: 2px solid #eee;
	position: relative;
	padding: 10px 10px 10px 10px;
	color: silver;
	font-family: sans-serif;
	text-align: justify;
}

.post-avatar {
	float: left;
	margin: 0 10px 0 0;
	width: 64px;
	height: auto;
	position: relative;
}

#comentarios {
	margin-top: 15px;
}

.comentarios {
	background: #f1f1f1;
	margin-bottom: 10px;
	padding: 10px;
	font-family: monospace;
}

.comentarios p {
	font-family: cursive;
	font-size: 10pt;
	text-align: justify;
}

.comentarios-avatar {
	float: left;
	margin: 0 10px 0 0;
	width: 64px;
	height: auto;
	position: relative;
}

.error {
	color: #ff0000;
}